<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-buttons slot="primary" *ngIf="!isLogin">
      <ion-button (click)="admin()">
        <ion-icon slot="start" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="isLogin">
      <ion-button (click)="toAdminDashboard()">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        Hello, {{userName}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="list.length === 0">
      <ion-col size="12">
        <ion-text color="dark" class="ion-text-center">
          <h1>Catalog not found!</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="list.length !== 0">
      <ion-col size-sm="3" size-md="3" size-lg="3" size-xl="3" size-xs="6" *ngFor="let l of list">
        <ion-card (click)="viewsPdf(l.filename, l.name)" class="ion-padding" style="cursor: pointer;">
          <img [defaultImage]="default_image" lazyLoad="assets/images/default-image-rev.jpg" alt="">
          <!-- <pdf-viewer [page]="1" [fit-to-page]="true" [src]="previewPDF + l.filename" [render-text]="true"
            [show-all]="false" style="display: block;"></pdf-viewer> -->
          <ion-text color="dark" class="ion-text-center">
            <h3>{{l.name}}</h3>
            <p *ngIf="l.weeks !== 'null' || l.weeks !==''">Week {{l.weeks}}</p>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>